body{
    position: relative;
    margin: 0;

}


.main-container{
    position: relative;
    width: 70%;
    height: 100%;
    padding: 10px;
    top: 70px;
    left: 80px;
    margin: 0px auto;
    text-align: center;
    border: 1px solid gray;
    z-index: 3;
    border-radius: 7px;
    /* background-color: gray; */
}

.date-picker{
    /* position: fixed; */
    text-align: center;
    /* background-color: aquamarine; */
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.column-spacing{
    width: 30px;
}

.button-submit{
    background-color: rgb(16, 16, 16);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}

.date-input{
    background-color: rgb(240, 236, 236);
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid gray;
}

.table-border-visible{
    border: 1px solid black;
}

.col-span-2{
    /* column-span: "2"; */
    color: red;
}

.logs-container{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 500px;
    border-radius: 5px;
    scrollbar-width: none;
    box-shadow: 1px 1px gray;
    text-align: left;
}



.log-message{
    border-bottom: 0.5px solid gray;
    padding: 0px 20px;
}
